body{
    background-image:linear-gradient(45deg,#4197c9,rgba(107, 17, 190, 0.692)) ;
    font: normal 18pt Arial;
    height: 100vh;
    background-attachment: scroll;
}
.titulo{
    color: white;
    text-align: center;

}
.section{
    background-image: linear-gradient(45deg,#6601c5,#f73b02,#00f7ff);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(13, 13, 199, 0.541);
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 667px;
    max-width: 350px;
    

}

    


.select{
    border-radius: 10px;
    padding: 5px;
}
option{
    border-radius: 10px;
}
input{
    border-radius: 5px;
    border: 0;
}
.button:hover{
    background-color: #6601c5;
    font-weight: bold;
    color:white;
}
.button:active{
    background-color: black;
    color: white;
}